<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mappers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.higgs.trust.rs.core.dao.CoreTransactionDao">
	<!-- Result Map -->
	<resultMap id="baseResultMap" type="com.higgs.trust.rs.core.dao.po.CoreTransactionPO">
		<result column="tx_id" property="txId" />
		<result column="policy_id" property="policyId" />
		<result column="lock_time" property="lockTime" />
		<result column="sender" property="sender" />
		<result column="version" property="version" />
		<result column="biz_model" property="bizModel" />
		<result column="action_datas" property="actionDatas" />
		<result column="sign_datas" property="signDatas" />
		<result column="execute_result" property="executeResult" />
		<result column="error_code" property="errorCode" />
		<result column="error_msg" property="errorMsg" />
		<result column="send_time" property="sendTime" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>
	<!-- core_transaction table all fields -->
	<sql id="baseColumnList">
		tx_id,policy_id,lock_time,sender,version,biz_model,action_datas,sign_datas,execute_result,error_code,error_msg,send_time,create_time,update_time
	</sql>
	<!-- 查询条件 -->
	<sql id="baseWhereClause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="txId != null and txId != ''">
				and tx_id=#{txId}
			</if>
			<if test="policyId != null and policyId != ''">
				and policy_id=#{policyId}
			</if>
			<if test="lockTime != null">
				and lock_time=#{lockTime}
			</if>
			<if test="sender != null and sender != ''">
				and sender=#{sender}
			</if>
			<if test="version != null and version != ''">
				and version=#{version}
			</if>
			<if test="bizModel != null">
				and biz_model=#{bizModel}
			</if>
			<if test="actionDatas != null and actionDatas != ''">
				and action_datas=#{actionDatas}
			</if>
			<if test="signDatas != null and signDatas != ''">
				and sign_datas=#{signDatas}
			</if>
			<if test="executeResult != null and executeResult != ''">
				and execute_result=#{executeResult}
			</if>
			<if test="errorCode != null and errorCode != ''">
				and error_code=#{errorCode}
			</if>
			<if test="createTime != null">
				and create_time=#{createTime}
			</if>
			<if test="updateTime != null">
				and update_time=#{updateTime}
			</if>
		</trim>
	</sql>
	<!-- 插入记录 -->
	<insert id="add" parameterType="Object">
		insert into
		core_transaction(tx_id,policy_id,lock_time,sender,version,biz_model,action_datas,sign_datas,execute_result,error_code,error_msg,send_time,create_time,update_time)
		values(#{txId},#{policyId},#{lockTime},#{sender},#{version},#{bizModel},#{actionDatas},#{signDatas},#{executeResult},#{errorCode},#{errorMsg},#{sendTime},now(),now())
	</insert>
	<!-- 查询列表 -->
	<select id="queryByList" resultMap="baseResultMap"
			parameterType="Object">
		select
		<include refid="baseColumnList" />
		from core_transaction
		<include refid="baseWhereClause" />
	</select>
	<!-- 以上为工具自动生成 -->

	<!--query by tx id-->
	<select id="queryByTxId" resultMap="baseResultMap" parameterType="Object">
		select
		<include refid="baseColumnList" />
		from core_transaction where tx_id=#{txId}
		<if test="forUpdate == true">
			for update
		</if>
	</select>
	<!--query by tx ids-->
	<select id="queryByTxIds" resultMap="baseResultMap" parameterType="Object">
		select
		<include refid="baseColumnList" />
		from core_transaction
		where 1=1 and
		<foreach collection="list" item="item" index="index"
				 open="(" separator="or" close=")">
			`tx_id`=#{item}
		</foreach>
	</select>
	<!--saveExecuteResult-->
	<update id="saveExecuteResultAndHeight" parameterType="Object">
		update core_transaction
		set execute_result=#{executResult},error_code=#{errorCode},error_msg=#{errorMsg},block_height = #{blockHeight},update_time=now(3)
		where tx_id=#{txId}
	</update>

	<!--updateSignDatas-->
	<update id="updateSignDatas" parameterType="Object">
		update core_transaction
		set sign_datas=#{signDatas},update_time=now(3)
		where tx_id=#{txId}
	</update>
</mapper>
