<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mappers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.higgs.trust.rs.core.dao.RequestDao">
	<!-- Result Map -->
	<resultMap id="baseResultMap" type="com.higgs.trust.rs.core.dao.po.RequestPO">
		<result column="request_id" property="requestId" />
		<result column="status" property="status" />
		<result column="resp_code" property="respCode" />
		<result column="resp_msg" property="respMsg" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>
	<!-- request table all fields -->
	<sql id="baseColumnList">
		request_id,status,resp_code,resp_msg,create_time,update_time
	</sql>
	<!-- 查询条件 -->
	<sql id="baseWhereClause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="requestId != null and requestId != ''">
				and request_id=#{requestId}
			</if>
			<if test="status != null and status != ''">
				and status=#{status}
			</if>
			<if test="respCode != null">
				and resp_code=#{respCode}
			</if>
			<if test="respMsg != null and respMsg != ''">
				and resp_msg=#{respMsg}
			</if>
		</trim>
	</sql>
	<!-- 插入记录 -->
	<insert id="add" parameterType="Object">
		insert into
		request(request_id,status,resp_code,resp_msg,create_time,update_time)
		values(#{requestId},#{status},#{respCode},#{respMsg},now(),now())
	</insert>
	<!-- 根据请求ID 查询 -->
	<select id="queryByRequestId" resultMap="baseResultMap"
			parameterType="java.lang.String">
		select
		<include refid="baseColumnList"/>
		from request
		where `request_id` =#{requestId}
	</select>

	<!-- 根据requestId修改请求Id -->
	<update id="updateStatusByRequestId">
		UPDATE `request`
		SET
		<if test="toStatus != null and toStatus != ''">
		`status` = #{toStatus},
		</if>
		 `resp_code` = #{respCode},`resp_msg` = #{respMsg}, `update_time`= now()
		WHERE
		`request_id` = #{requestId}
		<if test="fromStatus != null and fromStatus != ''">
		and `status` = #{fromStatus}
		</if>
	</update>

</mapper>
