<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <property name="COMMON_LOG_PATTERN"
              value="%d [%t] %-5p %c{0} - %m [%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}]%n"/>
    <!--<property name="MONITOR_LOG_PATTERN" value="%d [%t] %-5p %c{0} - %m,[%X{X-B3-TraceId:-}]%n"/>-->

    <property name="MONITOR_LOG_PATTERN"
              value=" [%thread] %highlight(%-5level) %cyan(%logger{15}) - %highlight(%msg) %n"/>

    <!-- 项目名称 -->
    <property name="APP_NAME" value="SpringCloudDemo"/>​
    <!-- 日志文件目录 -->
    <property name="LOG_PATH" value="/data/home/admin/${APP_NAME}/log"/>​
    <!-- 归档文件保留的时间，即只保留几天前的归档文件，单位与fileNamePattern中配置的最小时间单位相同 -->
    <property name="MAX_HISTORY" value="7"/>
    <!-- 当前日志文件达到maxFileSize后则归档 -->
    <property name="MAX_FILE_SIZE" value="1GB"/>
    <!-- 每一类日志的所有归档文件达到totalSizeCap后会异步删除最老的归档文件，比如common-error.log为一类，xxx-core.log为一类 -->
    <property name="TOTAL_SIZE_CAP" value="10GB"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- Minimum logging level to be presented in the console logs-->
            <level>DEBUG</level>

        </filter>
        <encoder>
            <!--<pattern>${COMMON_LOG_PATTERN}</pattern>-->
            <pattern>%d [%thread] %highlight(%-5level) %cyan(%logger{15}) - %highlight(%msg)
                [%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}]%n
            </pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>


    <logger name="MonitorLog" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="ManageLog" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <Logger name="SERVICE-DIGEST" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </Logger>

    <Logger name="PERF" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </Logger>

    <logger name="com.higgs.trust" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>

    </root>

</configuration>