<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <property name="COMMON_LOG_PATTERN"
              value="%d [%t] %-5p %c{0} - %m [%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}]%n%xThrowable{500, FULL, bar}"/>
    <property name="MONITOR_LOG_PATTERN" value="%d [%t] %-5p %c{0} - %m,[%X{X-B3-TraceId:-}]%n"/>

    <!-- 项目名称 -->
    <property name="APP_NAME" value="slave"/>​
    <!-- 归档文件保留的时间，即只保留几天前的归档文件，单位与fileNamePattern中配置的最小时间单位相同 -->
    <property name="MAX_HISTORY" value="7"/>
    <property name="LOG_PATH" value="${LOG_PATH:-/data/home/admin/trust/log}" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                    &lt;!&ndash; Minimum logging level to be presented in the console logs&ndash;&gt;
                    <level>DEBUG</level>
                </filter>-->
        <encoder>
            <pattern>%d [%thread] %highlight(%-5level) %cyan(%logger{15}) - %highlight(%msg) %n%xThrowable{500, FULL, bar}
            </pattern>
        </encoder>
    </appender>

    <appender name="BIZ-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${COMMON_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_PATH}/${APP_NAME}-biz.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_NAME}-biz.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <!--<totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>-->
        </rollingPolicy>
    </appender>

    <appender name="DEFAULT-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${COMMON_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_PATH}/${APP_NAME}-default.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_NAME}-default.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <!--<totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>-->
        </rollingPolicy>
    </appender>

    <appender name="MONITOR-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${MONITOR_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_PATH}/${APP_NAME}-monitor.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_NAME}-monitor.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <!--<totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>-->
        </rollingPolicy>
    </appender>

    <appender name="PERF-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${MONITOR_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_PATH}/${APP_NAME}-perf.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_NAME}-perf.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <!--<totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>-->
        </rollingPolicy>
    </appender>

    <appender name="DAO-DIGEST-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${COMMON_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_PATH}/${APP_NAME}-dao-digest.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_NAME}-dao-digest.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="SERVICE-DIGEST-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${MONITOR_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_PATH}/${APP_NAME}-service-digest.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_NAME}-service-digest.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <!--<totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>-->
        </rollingPolicy>
    </appender>

    <appender name="MANAGE-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${COMMON_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_PATH}/${APP_NAME}-manage.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_NAME}-manage.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <!--<totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>-->
        </rollingPolicy>
    </appender>

    <!-- application monitor log -->
    <appender name="COPYCAT-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${COMMON_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_PATH}/copycat.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/copycat.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="ERROR-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>${COMMON_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_PATH}/common-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/common-error.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <!--<totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>-->
        </rollingPolicy>
    </appender>

    <!-- application monitor log -->
    <appender name="BFTSMART-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${COMMON_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_PATH}/bft-smart.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/bft-smart.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="SmartLog" level="debug" additivity="false">
        <appender-ref ref="BFTSMART-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </logger>

    <logger name="io.atomix" level="debug" additivity="false">
        <appender-ref ref="COPYCAT-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </logger>

    <logger name="io.atomix.protocols.raft" level="trace" additivity="false">
        <appender-ref ref="COPYCAT-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </logger>


    <logger name="MonitorLog" level="INFO" additivity="false">
        <appender-ref ref="MONITOR-APPENDER"/>
    </logger>

    <logger name="ManageLog" level="INFO" additivity="false">
        <appender-ref ref="MANAGE-APPENDER"/>
    </logger>

    <Logger name="DAO-DIGEST" level="INFO" additivity="false">
        <appender-ref ref="DAO-DIGEST-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </Logger>

    <Logger name="SERVICE-DIGEST" level="INFO" additivity="false">
        <appender-ref ref="SERVICE-DIGEST-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </Logger>

    <Logger name="com.higgs.trust.common.utils.Profiler" level="INFO" additivity="false">
        <appender-ref ref="PERF-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </Logger>

    <Logger name="com.higgs.trust.slave.common.util.TrustDaoDigestLogInterceptor" level="INFO" additivity="false">
        <appender-ref ref="PERF-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </Logger>

    <logger name="com.higgs.trust" level="debug" additivity="false">
        <appender-ref ref="BIZ-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="com.higgs.trust.slave.dao" level="info" additivity="false">
        <appender-ref ref="BIZ-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </logger>
    <logger name="com.higgs.trust.consensus.p2pvalid.dao" level="info" additivity="false">
        <appender-ref ref="BIZ-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </logger>
    <logger name="com.higgs.trust.rs.core.dao" level="info" additivity="false">
        <appender-ref ref="BIZ-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </logger>
    <logger name="com.higgs.trust.rs.custom.dao" level="info" additivity="false">
        <appender-ref ref="BIZ-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
    </logger>


    <root level="INFO">
        <appender-ref ref="DEFAULT-APPENDER"/>
        <appender-ref ref="ERROR-APPENDER"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>