<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mappers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.higgs.trust.slave.dao.transaction.ActionDao">
    <!-- Result Map -->
    <resultMap id="baseResultMap" type="com.higgs.trust.slave.dao.po.transaction.ActionPO">
        <result column="tx_id" property="txId"/>
        <result column="type" property="type"/>
        <result column="index" property="index"/>
        <result column="data" property="data"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    <!-- action table all fields -->
    <sql id="baseColumnList">
		tx_id,type,`index`,data,create_time
	</sql>
    <!-- query  conditions -->
    <sql id="baseWhereClause">
        where 1=1
        <trim suffixOverrides=",">
            <if test="txId != null and txId != ''">
                and tx_id=#{txId}
            </if>
            <if test="type != null and type != ''">
                and type=#{type}
            </if>
            <if test="index != null">
                and `index`=#{index}
            </if>
            <if test="data != null">
                and data=#{data}
            </if>
            <if test="createTime != null">
                and create_time=#{createTime}
            </if>
        </trim>
    </sql>
    <!-- insert row -->
    <insert id="add" parameterType="com.higgs.trust.slave.dao.po.transaction.ActionPO">
		insert into
		action(tx_id,type,`index`,data,create_time)
		values(#{txId},#{type},#{index},#{data},now(3))
	</insert>
    <!-- queryByCount -->
    <select id="queryByCount" resultType="java.lang.Integer"
            parameterType="Object">
        select count(1) from action
        <include refid="baseWhereClause"/>
    </select>
    <!-- queryByList -->
    <select id="queryByList" resultMap="baseResultMap"
            parameterType="com.higgs.trust.slave.dao.po.transaction.ActionPO">
        select
        <include refid="baseColumnList"/>
        from action
        <include refid="baseWhereClause"/>
    </select>
    <!-- below are auto create -->

    <!--batch insert-->
    <insert id ="batchInsert" parameterType="java.util.List" >
        insert into action
        (tx_id,type,`index`,data,create_time)
        values
        <foreach collection="list" item="item" index="index" separator =",">
          (#{item.txId},#{item.type},#{item.index},#{item.data},#{item.createTime})
        </foreach>
    </insert>

    <select id="queryByTxId" resultType="com.higgs.trust.slave.dao.po.transaction.ActionPO">
        select
        <include refid="baseColumnList"/>
        from action
        where tx_id = #{txId}
    </select>
</mapper>
