<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <property name="COMMON_LOG_PATTERN"
              value="%d [%t] %-5p %c{1} - %m [%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}]%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- Minimum logging level to be presented in the console logs-->
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg [%X{X-B3-TraceId:-},%X{X-B3-SpanId:-}]
                %n
            </pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!--default log-->
    <appender name="default" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${default_log}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${default_log}.%d{yyyy-MM-dd_HH}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>40GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg [%X{X-B3-TraceId:-},%X{X-B3-SpanId:-}]
                %n
            </pattern>
        </encoder>
    </appender>

    <!-- application monitor log -->
    <appender name="monitor" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${monitor_log}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${monitor_log}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>40GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date{HH:mm:ss.SSS},[%thread] %-5level %logger{36} - %msg,[%X{X-B3-TraceId:-},%X{X-B3-SpanId:-}]
                %n
            </pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- application monitor log -->
    <appender name="copycatMonitor" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${copycat_log}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${copycat_log}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>40GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%date{HH:mm:ss.SSS},[%thread] %-5level %logger{36} - %msg,[%X{X-B3-TraceId:-},%X{X-B3-SpanId:-}]
                %n
            </pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <logger name="io.atomix.copycat" level="TRACE" additivity="false">
        <appender-ref ref="copycatMonitor"/>
    </logger>


    <logger name="com.higgs" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>