<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mappers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.higgs.trust.slave.dao.block.BlockHeaderDao">
    <!-- Result Map -->
    <resultMap id="baseResultMap" type="com.higgs.trust.slave.dao.po.block.BlockHeaderPO">
        <result column="height" property="height"/>
        <result column="type" property="type"/>
        <result column="header_data" property="headerData"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    <!-- block_header table all fields -->
    <sql id="baseColumnList">
		height,header_data,create_time
	</sql>
    <!-- 查询条件 -->
    <sql id="baseWhereClause">
        where 1=1
        <trim suffixOverrides=",">
            <if test="height != null">
                and height=#{height}
            </if>
            <if test="type != null">
                and type=#{type}
            </if>
            <if test="headerData != null and headerData != ''">
                and header_data=#{headerData}
            </if>
            <if test="createTime != null">
                and create_time=#{createTime}
            </if>
        </trim>
    </sql>
    <!-- 插入记录 -->
    <insert id="add" parameterType="Object">
		insert into
		block_header(height,type,header_data,create_time)
		values(#{height},#{type},#{headerData},now(3))
	</insert>
    <!-- 删除记录 -->
    <delete id="delete" parameterType="Object">
		delete from block_header where
		height=#{height}
	</delete>
    <!-- 列表总数 -->
    <select id="queryByCount" resultType="java.lang.Integer"
            parameterType="Object">
        select count(1) from block_header
        <include refid="baseWhereClause"/>
    </select>
    <!-- 查询列表 -->
    <select id="queryByList" resultMap="baseResultMap"
            parameterType="Object">
        select
        <include refid="baseColumnList"/>
        from block_header
        <include refid="baseWhereClause"/>
    </select>
    <!-- 以上为工具自动生成 -->


    <!-- 根据height查询 -->
    <select id="queryByHeight" resultMap="baseResultMap" parameterType="Object">
        select
        <include refid="baseColumnList"/>
        from block_header where height=#{height} and type=#{type}
    </select>

    <!-- delete -->
    <delete id="deleteBlockHeader" parameterType="Object">
       delete from block_header where height=#{height} and type=#{type}
    </delete>
</mapper>
