<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mappers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.higgs.trust.slave.dao.mysql.account.CurrencyInfoDao">
    <!-- Result Map -->
    <resultMap id="baseResultMap" type="com.higgs.trust.slave.dao.po.account.CurrencyInfoPO">
        <result column="id" property="id"/>
        <result column="currency" property="currency"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="homomorphicPk" property="homomorphicPk"/>
        <result column="contract_address" property="contractAddress"/>
    </resultMap>
    <!-- currency_info table all fields -->
    <sql id="baseColumnList">
		id,currency,remark,create_time,homomorphicPk,contract_address
	</sql>
    <!-- 查询条件 -->
    <sql id="baseWhereClause">
        where 1=1
        <trim suffixOverrides=",">
            <if test="id != null">
                and id=#{id}
            </if>
            <if test="currency != null and currency != ''">
                and currency=#{currency}
            </if>
            <if test="remark != null and remark != ''">
                and remark=#{remark}
            </if>
            <if test="createTime != null">
                and create_time=#{createTime}
            </if>
            <if test="homomorphicPk != null and homomorphicPk != ''">
                and homomorphicPk=#{homomorphicPk}
            </if>
            <if test="contractAddress != null and contractAddress != ''">
                and contract_address=#{contractAddress}
            </if>
        </trim>
    </sql>
    <!-- 插入记录 -->
    <insert id="add" parameterType="Object">
		insert into
		currency_info(id,currency,remark,create_time,homomorphicPk,contract_address)
		values(#{id},#{currency},#{remark},now(),#{homomorphicPk},#{contractAddress})
	</insert>
    <!-- 删除记录 -->
    <delete id="delete" parameterType="Object">
		delete from currency_info where
		id=#{id}
	</delete>
    <!-- 根据id查询 -->
    <select id="queryById" resultMap="baseResultMap" parameterType="Object">
        select
        <include refid="baseColumnList"/>
        from currency_info where id=#{id}
    </select>
    <!-- 列表总数 -->
    <select id="queryByCount" resultType="java.lang.Integer"
            parameterType="Object">
        select count(1) from currency_info
        <include refid="baseWhereClause"/>
    </select>
    <!-- 查询列表 -->
    <select id="queryByList" resultMap="baseResultMap"
            parameterType="Object">
        select
        <include refid="baseColumnList"/>
        from currency_info
        <include refid="baseWhereClause"/>
    </select>
    <!-- 以上为工具自动生成 -->

    <!--queryByCurrency-->
    <select id="queryByCurrency" resultMap="baseResultMap" parameterType="Object">
        select
        <include refid="baseColumnList"/>
        from currency_info where currency=#{currency}
    </select>

    <!--batch insert-->
    <insert id ="batchInsert" parameterType="java.util.List" >
        insert into
        currency_info(id,currency,remark,homomorphicPk, contract_address,create_time)
        values
        <foreach collection ="list" item="item" index= "index" separator =",">
            (#{item.id},#{item.currency},#{item.remark},#{homomorphicPk},#{contractAddress},now(3))
        </foreach>
    </insert>
</mapper>
