<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mappers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.higgs.trust.consensus.p2pvalid.dao.QueuedSendDelayDao">
    <!-- Result Map -->
    <resultMap id="baseResultMap" type="com.higgs.trust.consensus.p2pvalid.dao.po.QueuedSendDelayPO">
        <result column="id" property="id" />
        <result column="message_digest" property="messageDigest" />
        <result column="send_time" property="sendTime" />
        <result column="create_time" property="createTime" />
    </resultMap>
    <!-- queued_send_delay table all fields -->
    <sql id="baseColumnList">
        id,message_digest,send_time,create_time
    </sql>
    <!-- 查询条件 -->
    <sql id="baseWhereClause">
        where 1=1
        <trim suffixOverrides=",">
            <if test="id != null">
                and id=#{id}
            </if>
            <if test="messageDigest != null and messageDigest != ''">
                and message_digest=#{messageDigest}
            </if>
            <if test="sendTime != null">
                and send_time=#{sendTime}
            </if>
            <if test="createTime != null">
                and create_time=#{createTime}
            </if>
        </trim>
    </sql>
    <!-- 插入记录 -->
    <insert id="add" parameterType="Object">
        insert into
        queued_send_delay(id,message_digest,send_time,create_time)
        values(#{id},#{messageDigest},#{sendTime},now(3))
    </insert>
    <!-- 删除记录 -->
    <delete id="delete" parameterType="Object">
        delete from queued_send_delay where
        id=#{id}
    </delete>
    <!-- 根据id查询 -->
    <select id="queryById" resultMap="baseResultMap" parameterType="Object">
        select
        <include refid="baseColumnList" />
        from queued_send_delay where id=#{id}
    </select>
    <!-- 列表总数 -->
    <select id="queryByCount" resultType="java.lang.Integer"
        parameterType="Object">
        select count(1) from queued_send_delay
        <include refid="baseWhereClause" />
    </select>
    <!-- 查询列表 -->
    <select id="queryByList" resultMap="baseResultMap"
        parameterType="Object">
        select
        <include refid="baseColumnList" />
        from queued_send_delay
        <include refid="baseWhereClause" />
    </select>
    <!-- 以上为工具自动生成 -->



</mapper>
