<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mappers.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.higgs.trust.consensus.p2pvalid.dao.ReceiveNodeDao">
    <!-- Result Map -->
    <resultMap id="baseResultMap" type="com.higgs.trust.consensus.p2pvalid.dao.po.ReceiveNodePO">
        <result column="id" property="id" />
        <result column="message_digest" property="messageDigest" />
        <result column="from_node_name" property="fromNodeName" />
        <result column="command_sign" property="commandSign" />
        <result column="create_time" property="createTime" />
    </resultMap>
    <!-- receive_node table all fields -->
    <sql id="baseColumnList">
        id,message_digest,from_node_name,command_sign,create_time
    </sql>
    <!-- 查询条件 -->
    <sql id="baseWhereClause">
        where 1=1
        <trim suffixOverrides=",">
            <if test="id != null">
                and id=#{id}
            </if>
            <if test="messageDigest != null and messageDigest != ''">
                and message_digest=#{messageDigest}
            </if>
            <if test="fromNodeName != null and fromNodeName != ''">
                and from_node_name=#{fromNodeName}
            </if>
            <if test="commandSign != null and commandSign != ''">
                and command_sign=#{commandSign}
            </if>
            <if test="createTime != null">
                and create_time=#{createTime}
            </if>
        </trim>
    </sql>
    <!-- 插入记录 -->
    <insert id="add" parameterType="Object">
        insert into
        receive_node(id,message_digest,from_node_name,command_sign,create_time)
        values(#{id},#{messageDigest},#{fromNodeName},#{commandSign},now())
    </insert>
    <!-- 以上为工具自动生成 -->



    <!-- 根据messageDigest查询列表 -->
    <select id="queryByMessageDigestAndFromNode" resultMap="baseResultMap" parameterType="Object">
        select
        <include refid="baseColumnList" />
        from receive_node where `message_digest`=#{messageDigest} and `from_node_name` = #{fromNode}
    </select>

    <!-- 根据messageDigest删除记录 -->
    <delete id="deleteByMessageDigest" parameterType="Object">
        delete from receive_node where
        `message_digest` = #{messageDigest}
    </delete>

    <!-- 根据messageDigestList删除记录 -->
    <delete id="deleteByMessageDigestList" parameterType="Object">
        delete from receive_node where
        `message_digest` in
        <foreach item="item" index="index" collection="messageDigestList" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>
